/.SeleniumScriptDescriptionLabelProvider.java._trace
/.SeleniumScriptDescriptionLabelProvider.xtendbin
/.SeleniumScriptLabelProvider.java._trace
/.SeleniumScriptLabelProvider.xtendbin
/SeleniumScriptDescriptionLabelProvider.java
/SeleniumScriptLabelProvider.java
