<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="emn.fil.a3.SeleniumScript.design.Activator"
               id="emn.fil.a3.SeleniumScript.design"
	       name="SeleniumScript">
    </component>
  </extension>
</plugin>
