<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.fil.emn/a3/SeleniumScript"
			class = "emn.fil.a3.seleniumScript.SeleniumScriptPackage"
			genModel = "model/generated/SeleniumScript.genmodel" />
	</extension>
</plugin>
